.googlePhoto{
    /* max-width: 300px;
    max-height: auto; */
    transition: 0.1s;
}
.googlePhoto:hover{
    filter: opacity(.5);

}

.googlePhoto2{
    max-width: 300px;
    max-height: auto;
    transition: 0.1s;
}

#googlePin {
    min-width: 400px;
}

.pinCard {
    position: relative;
}

.pinButtons {
    position: absolute;
    top: 10px;
}

.modal-content.custom-modal-style{
    width: 1000px;
      height: 800px;
      overflow: scroll;
      position: fixed;
       top: 2%;
      left: 5%;
      bottom: 5%
   }