.profilePic{
    height: 150px;
    width: 150px;
}

.PageContainer{
    -ms-flex-align: stretch;
    -webkit-box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    position: relative;
}