body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .App {
  max-height: 736px !important;
  width: 414px;
  margin: auto;
} */

.navBar{
  /* max-height: 736px !important;
  width: 414px; */
  margin: auto;
  background-color: steelblue;
}
/* 
.bg-light {
  overflow: hidden !important; 
    position: fixed !important;
   bottom: 0 !important;
} */
